<input type="text"  [(ngModel)]="description" />
<h1>{{description}}</h1>
<input type="text" placeholder="Type your house" [(ngModel)]="casita"/>

<div [ngSwitch]="casita">
  <p *ngSwitchCase="'Hufflepuff'">Your house is {{casita}}</p>
  <p *ngSwitchCase="'Gryffindor'">Your house is {{casita}}</p>
  <p *ngSwitchCase="'Ravenclaw'">Your house is {{casita}}</p>
  <p *ngSwitchCase="'Slytherin'">Your house is {{casita}}</p>
</div>

<button (click)="addHouses(casita)">Add House</button>

<ul>
  <p *ngIf="casas.length === 0">There is no Hogwarts anymore</p>
  <li *ngFor="let iterador of casas; index as i">
    {{iterador}}
    <button (click)="deleteHouse(i)">Delete House</button>
  </li>
</ul>

<div *ngFor= "let product of products">
  <app-product [product]="product" (itemAdded)="itemHandler($event)"></app-product>
</div>
