nav{
  padding-top: 10px;
  padding-bottom: 13px;
  background-color: #540f1e;
}

nav > a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding-right: 15px;
  padding-left: 15px;
}
.activo{
  border-bottom: 5px solid #F6CDD6;
}

a:hover{
  border-bottom: 5px solid #E46983;
}
